<h2>Hakkımızda</h2>
<p>
Edrelax, favori plajınızı zahmetsizce bulmanızı sağlar. Bilgisayar, tablet veya cep telefonunuz üzerinden şezlong ya da şemsiye rezervasyonu yapmanıza olanak tanıyan, eşsiz plajları keşfetmenin en kolay yoludur.
</p>

<p>
Sadece birkaç basit adımla plaj keyfini yaşamaya başlayabilirsiniz.
</p>

<p>
iPhone veya Android cihazınız için Edrelax mobil uygulamasını hemen indirin!
</p>

<p>
Ek yardıma mı ihtiyacınız var? <strong>İletişim</strong> sayfamızdan bize mesaj bırakabilirsiniz.
</p>

<h3>Edrelax Genel Merkezi</h3>
<address>
Edremit<br>
Balıkesir, Türkiye<br>
E-posta: <a href="mailto:edrelax@gmail.com">edrelax@gmail.com</a>
</address>

