<!DOCTYPE html>
<html>
<head>
    <title>Plajlar</title>
</head>
<body>
    <h1>📍 Son Eklenen Plajlar</h1>
    <ul>
        {% for beach in latest_beaches %}
            <li>{{ beach.name }}</li>
        {% endfor %}
    </ul>

    <h2>📊 Favori Sayısı ve Ortalama Yorum Skoru</h2>
    <ul>
        {% for row in results %}
            <li>
                Beach ID: {{ row.beach_id }} |
                Favori Sayısı: {{ row.fav_count }} |
                Ortalama Sentiment: {{ row.avg_sentiment }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
